@model ContactPro.Models.Contact
@using ContactPro.Services.Interfaces

@inject IImageService ImageService
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Contact</h1>

<div class="p-3 border border-2 shadow-lg bg-light">
    <form asp-action="Edit" asp-controller="Contacts" enctype="multipart/form-data">
        <div class="row g-3 p-2">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AppUserId" />
            <input type="hidden" asp-for="Created" >
            <input type="hidden" asp-for="ImageDate" />
            <input type="hidden" asp-for="ImageType" />

            <div class="col-12 col-lg-4">
                <div class="square-img-container">
                    @if (Model.ImageDate != null)
                    {
                        <img id="contactImage" class="square-img" src="@ImageService.ConveryByteArrayToFile(Model.ImageDate,Model.ImageType!)">
                    }else
                    {
                    <img id="contactIamge" class="square-img" src="~/img/DefaultContactImage.png">
                    }
                </div>
                <div>
                    <input asp-for="ImageFile" class="form-control" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('contactIamge').src= window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-lg-8">

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 mt-2">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 mt-2">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-12 mt-2">
                        <label asp-for="Address1" class="control-label"></label>
                        <input asp-for="Address1" class="form-control" />
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                    <div class="col-12 mt-2">
                        <label asp-for="Address2" class="control-label"></label>
                        <input asp-for="Address2" class="form-control" />
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 mt-2">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-4 mt-2">
                        <label asp-for="State" class="control-label"></label>
                        <select asp-for="State" class="form-control" asp-items="ViewBag.StatesList"></select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-2 mt-2">
                        <label asp-for="ZipCode" class="control-label"></label>
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 mt-3">
                        <label asp-for="Categories" class="control-label"></label>
                        <select name="CategoryList" class="form-control" asp-items="ViewBag.CategoryList" multiple></select>
                    </div>



                    <div class="col-12 col-lg-6 mt-3">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="col-12 d-flex justify-content-end mt-2">
                        <button type="submit" value="Create" class="btn btn-lg btn-primary rounded-pill">Save</button>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
